.venv
.idea

yolov5s.pt
28_ComputerVision_OpenCV/.DS_Store
__pycache__/

node_modules/
dist/
codex/
!DjBlue/front-end/codex/
10_advanced_algorithms/rares_game_fork
10_advanced_algorithms/rares_game_fork/art-of-programming-game-fork
*.DS_Store
.DS_Store

# Tasks
28_ComputerVision_OpenCV/task/surveillance_system_v2.py\\

# Models downloaded
*.dat
face_recognition_reference.jpg
face_recognition_result.jpg
face_recognition_verify.jpg
landmarks_result.jpg
landmarks_snapshot.jpg
landmarks_result.jpg
landmarks_snapshot.jpg
